html {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

body {
    font-size: 1.5rem;
 }

 h1 {
     font-size: 4rem;
 }

 h2 {
    font-size: 3.5rem;
} 

h3 {
    font-size: 3rem;
} 

h4 {
    font-size: 2.5rem;
} 

h5 {
    font-size: 2rem;
} 

h6 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

.hero {
    background-image: url("../images/floorboards.jpg");
    background-color: purple;
}

.outer-container {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.picture {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 50px;
    padding-bottom: 40px;
}

.picture img {
    border-radius: 50%;
    width: 15%;
}

.cool-subtitle {
    color: whitesmoke;
}

.navigation-bar {
    display: flex;
    justify-content: flex-end;
}

li {
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
}